<a href="https://colab.research.google.com/github/AdrianaTrejo/Mineria-de-Datos/blob/main/Ej_Python_1853256.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* **Ejercicio 1**: Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [ ]:
mat="1853256"
type(mat)
print("Adriana Jackeline Trejo Rodriguez", mat)

Adriana Trejo 1853256

* **Ejercicio 2** : Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
n1=int(input("Introduce el primer numero:"))
n2=int(input("Introduce el segundo numero:"))

print("Suma -->", n1,"+",n2,"=",n1+n2)
print("Resta -->", n1,"-",n2,"=",n1-n2)
print("Multiplicacion -->", n1,"*",n2,"=",n1*n2)
print("Division -->", n1,"/",n2,"=",n1/n2)
print("Exponente -->", n1,"^",n2,"=",n1**n2)

Introduce el primer numero:1
Introduce el segundo numero:2
Suma --> 1 + 2 = 3
Resta --> 1 - 2 = -1
Multiplicacion --> 1 * 2 = 2
Division --> 1 / 2 = 0.5
Exponente --> 1 ^ 2 = 1

* **Ejercicio 3** : Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [ ]:
suma=0
for i in range(1,11):
    x=i*3
    print(x)
    suma=suma+x

print("La suma de los multiplos de 3 es:", suma)

3
6
9
12
15
18
21
24
27
30
La suma de los multiplos de 3 es: 165

* **Ejercicio 4** :
*Con una función de if else, revisar si un número es par o es impar.
*Con una función de if else, revisar si un número es primo o no.

In [27]:
num=int(input("Introduce el numero:"))

if  (num % 2)==0: 
    print (num,"Es par")
else:
    print (num," Es impar ")
    
primo=0 
for n in range(1,num):
    if (num%n)==0:
        primo=primo+1
    
if  (primo >= 2): 
    print("El numero",num,"NO ES PRIMO,")
else:
    print ("El numero",num,"ES PRIMO")

Introduce el numero:11
11  Es impar
El numero 11 ES PRIMO

* **Ejercicio 5** : Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [36]:
def Suma(a,b):
    c=a+b
    return c
def Resta(d,e):
    f=d-e
    return f
def Multiplicacion(g,h):
    i=g*h
    return i
def Division(j,k):
    l=j/k
    return l
def Exponente(m,n):
    o=m**n
    return o

print ("Suma(2,2) -->", Suma(2,2))
print ("Resta(2,2) -->", Resta(2,2))
print ("Multiplicacion(2,2) -->", Multiplicacion(2,2))
print ("Division(2,2) -->", Division(2,2))
print ("Exponente(2,2) -->", Exponente(2,2))

Suma(1,2) --> 4
Resta(1,2) --> 0
Multiplicacion(1,2) --> 4
Division(1,2) --> 1.0
Exponente(1,2) --> 4

**Tuplas**
* Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.
* Crear una tupla con valores enteros imprimir el primer y ultimo valor.
* Añadir 3 valores de string a la tupla.
* Verificar si una variable existe dentro de la tupla.

In [12]:
#Punto 1
a=10.76
print("La variable",a,"es",type(a))
b=7
print("La variable",b,"es",type(b))
c=(a!=b)
print("La variable",c,"es",type(c))
d= 3j
print("La variable",d,"es",type(d))

La variable 10.76 es <class 'float'>
La variable 7 es <class 'int'>
La variable True es <class 'bool'>
La variable 3j es <class 'complex'>

In [15]:
#Punto 2
t1 = (1,2,3,4,5)
type(t1)
print("El primer elemento de la tupla es:", t1[0])
print("El ultimo elemento de la tupla es:", t1[4])

El primer elemento de la tupla es: 1
El ultimo elemento de la tupla es: 5

In [21]:
#Punto 3
t1=(1,2,3,4,5)
t1 = t1.__add__(('Mineria','de','Datos'))
print(t1)

(1, 2, 3, 4, 5, 'Mineria', 'de', 'Datos')

In [27]:
#Punto 4
t1=(1,2,3,4,5)

10 in t1

False

**Listas**
* Crear una lista con 40 elementos aleatorios enteros.
* Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.
* Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.
* Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.
*Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [64]:
#Punto 1

import random as r
lista = [r.randint(0,100) for _ in range(40)]
print("La lista es:",lista)
print("La lista tiene",len(lista),"elementos")

#Punto 2 y Punto 3
listapar=[]
listaimpar=[]
for i in range(len(lista)):

      if  (lista[i] % 2)==0: 
          listapar.append(lista[i])
      else:
          listaimpar.append(lista[i])

print("La lista de numeros pares es:",listapar)
print("La lista tiene",len(listapar),"elementos")

print("La lista de numeros impares es:",listaimpar)
print("La lista tiene",len(listaimpar),"elementos")

#Punto 4
listapar.sort(reverse=True)
print("La lista de los elementos pares ordenada de mayor a menor es:",listapar)
listaimpar.sort()
print("La lista de los elementos impares ordenada de menor a mayor es:",listaimpar)

#Punto 5
len(lista)
lista*2
lista4 = lista[12:26]
lista5=lista[1:]
lista6=lista[:15]

La lista es: [33, 47, 39, 27, 30, 32, 12, 38, 93, 70, 43, 11, 46, 41, 29, 52, 57, 19, 11, 50, 96, 89, 76, 97, 40, 12, 74, 36, 13, 68, 12, 49, 30, 59, 56, 18, 70, 62, 74, 97]
La lista tiene 40 elementos
La lista de numeros pares es: [30, 32, 12, 38, 70, 46, 52, 50, 96, 76, 40, 12, 74, 36, 68, 12, 30, 56, 18, 70, 62, 74]
La lista tiene 22 elementos
La lista de numeros impares es: [33, 47, 39, 27, 93, 43, 11, 41, 29, 57, 19, 11, 89, 97, 13, 49, 59, 97]
La lista tiene 18 elementos
La lista de los elementos pares ordenada de mayor a menor es: [96, 76, 74, 74, 70, 70, 68, 62, 56, 52, 50, 46, 40, 38, 36, 32, 30, 30, 18, 12, 12, 12]
La lista de los elementos impares ordenada de menor a mayor es: [11, 11, 13, 19, 27, 29, 33, 39, 41, 43, 47, 49, 57, 59, 89, 93, 97, 97]
[46, 41, 29, 52, 57, 19, 11, 50, 96, 89, 76, 97, 40, 12]
[33, 47, 39, 27, 30, 32, 12, 38, 93, 70, 43, 11, 46, 41, 29]

**Diccionarios**
* Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.
* Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.
* Usando el diccionario y un loop, imprimir solo los nombres.
* Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [140]:
#Punto 1
diccionario={"Socorro":67,"Javier":13,"Osvaldo":21,"Adriana":20,"Manuel":46}
diccionario

#Punto 2
e=diccionario.values()
e

#Punto 3
n=diccionario.keys()
n

#Punto 4
diccionario['Gabriela'] = '42'
diccionario['Daniela'] = '22'
diccionario

{'Adriana': 20,
 'Daniela': '22',
 'Gabriela': '42',
 'Javier': 13,
 'Manuel': 46,
 'Osvaldo': 21,
 'Socorro': 67}

**Sets**
* Crea un set con 100 numeros aleatorios enteros del 1 al 25.
* Comprueba la longitud de tu set.
* Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [175]:
#Punto 1
import random as r
set = [r.randint(1,25) for _ in range(100)]
set

#Punto 2
len(set)

#Punto 3
lista = [r.randint(1,10) for _ in range(10)]
set
lista[0] in set
lista[1] in set
lista[2] in set
lista[3] in set
lista[4] in set
lista[5] in set
lista[6] in set
lista[7] in set
lista[8] in set
lista[9] in set

True